<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<header>
		<nav th:fragment="navbar(route)" class="navbar navbar-expand-md bg-body-tertiary">
			<div class="container">
				<a class="navbar-brand" href="#">DEGA'S SCHOOL</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" th:href="@{/}"
								th:classappend="${ route == 'home' ? 'active' : ''}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/students}"
								th:classappend="${ route == 'students' ? 'active' : ''}">Studenti</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/books}"
								th:classappend="${ route == 'books' ? 'active' : ''}">Libri</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/classes}"
								th:classappend="${ route == 'classes' ? 'active' : ''}">Classi</a>
						</li>
					</ul>
					<div>
						<span class="fw-bold fs-3"  sec:authentication ="name"></span>
						-Utente Loggato <span sec:authentication="principal.authorities" ></span>
					</div>
					
				</div>
			</div>
		</nav>
	</header>
</body>

</html>